!.gitignore
.directory
*~
*.log
*.pem
*.cert
*.key
*.gpg
*.tar
*.gz
*.bz2
*.xz
*.tgz
*.tbz2
*.txz
*.deb
*.whl
*.out

# Python related stuff.
*.pyc
*.egg-info
__pycache__

# Package building related folders.
/archive/pynspect*
/build/
/dist/pynspect*
/doc/_build/

# Ignore precompiled files for PLY.
parser.out
parsetab.py
